body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color:white;
    




}
.drop{
    margin: 0 auto;


}

nav {
   background-color:  rgb(50, 91, 97);
    height: 70px;
    width: 100%;


}

.logo {
    color: white;
    font-size: 40px;
    padding: 0;


    margin-top: 0px;


}
 
nav ul {
    
    float: right;
    margin-right: 500px;
   padding-bottom: 30px;
}
nav ul li {
    display: inline-block;
    line-height: 20px;
    margin: 30 20px;
    padding: 20px;
    font-weight: bold;
    font-size: 30px;



}
 nav ul li a {
    position: relative;
    bottom: 15px;
    color: white;
   text-decoration: none;
   font-family:sans-serif;
}     
nav ul ul{
    position:absolute;
    top: 60px;
    display: none;
}  
nav ul li:hover ul{
    display: block;
}                 
     
nav ul ul li{
    width: 150px;
    float: none;
    display: list-item;
    background-color: rgb(50, 91, 97);
    padding: 10px;
    font-size: 16px;
    color: blanchedalmond;

}
         form fieldset{
             position: relative;
             top: -30px;
             left: 90px;
             bottom: 10px;
            background-color: #b9d7f5;
             width: 600px;
             height: 400px;

             
             
             

         }
         
         form fieldset legend{
             font-size: 16px;
             font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
         }
         form fieldset  label{
             font-size: 20px;
            
             position: relative;
             top: 0px;
             left: 10px;
             padding-top: 30px;

             
         }
         #img2{
             position:absolute;
             float: right;
             left: 800px;
             bottom: 100px;
         }
         
        .inputDiv{
            
            

        }
        #submit #btn{
            width: 80px;
        }
        #btn{
           background-color: rgb(157, 240, 157);
       font-weight: bold;
           color:black;
           size: 100px;
        }
        table th td{
            border: violet solid 2;
        }