body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: antiquewhite;
    




}
.drop{
    margin: 0 auto;


}

nav {
   background-color:  rgb(50, 91, 97);
    height: 70px;
    width: 100%;


}

.logo {
    color: white;
    font-size: 40px;
    padding: 0;


    margin-top: 0px;


}
 
nav ul {
    
    float: right;
    margin-right: 500px;
   padding-bottom: 30px;
}
nav ul li {
    display: inline-block;
    line-height: 20px;
    margin: 30 20px;
    padding: 20px;
    font-weight: bold;
    font-size: 30px;



}
 nav ul li a {
    position: relative;
    bottom: 15px;
    color: white;
   text-decoration: none;
   font-family:sans-serif;
}     
nav ul ul{
    position:absolute;
    top: 60px;
    display: none;
}  
nav ul li:hover ul{
    display: block;
}                 
     
nav ul ul li{
    width: 150px;
    float: none;
    display: list-item;
    background-color: rgb(50, 91, 97);
    padding: 10px;
    font-size: 16px;
    color: blanchedalmond;

}
#imgbody{
    position: relative;
    z-index: -1;
    bottom: 140px;
    width: 1515px;
    height:400px;
    
    background-color: black;
    
    
}

#salmonp{
    position:absolute;
    z-index: 1;
    font-family: 'Pacifico', cursive;
    color: tomato;
    width: 500px;
    height: 200px;
    left: 300px;
    opacity: 0.9;
   
}
#divmain{
    position: absolute;
    top:230px;
    left: 300px;
    font-family: 'Architects Daughter', cursive;
    
    font-size: 40px;
    font-weight:bolder;
    color: rgb(7, 51, 13);
    
    
}
#sub-menu{
    display:none;
}
nav ul li  :hover #sub-menu ul li{
    display: block;
    position: absolute;
}
 
div p{
    position: relative;
    bottom: 160px;
  font-family:serif;
    font-size: 18px;
    text-align: justify;
    
}
center #dote{
    position: relative;
    width:100px ;
    bottom: 140px;

   
    
}
#dote2{
    position: relative;
    width:100px ;
    bottom: 180px;
}
.imgs{
    display: inline;
}
.imgs img{
    display: inline-block;
    width: 100px;
    height: 100px;
    padding: 5px;
    background-color:  rgb(50, 91, 97);
}
#email{
   
    margin-top: -90px;
    padding-left: 600px;
   font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  
}